.body {
    font-family: "Barlow Condensed", sans-serif;
    background-color: #e8e8e8;
    font-size: 5px;
}

.container {
    margin: auto;
}

.first {
    background-color: #892cdc;
    margin-top: 50px;
    height: 20rem;
    width: 35rem;
    border-radius: 1rem;
    background-image: url(bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-size: 9rem;
    background-position-x: 80%;
}

.card-title {
    color: #fff;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
    margin-left: 60px;
    margin-bottom: 2px;
}

.daniel {
    float: left;
    border-radius: 50px;
    width: 50px;
    border-color: #c060a1;
}

.card-text {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
    position: relative;
    z-index: 2;
    padding-bottom: 1rem;
}

.designation {
    color: #fff;
    opacity: 50%;
    margin-left: 60px;
    font-size: 15px;
}

.para1 {
    color: #fff;
    opacity: 70%;
    font-size: 13px;
}

.second {
    background-color: #394867;
    width: 18rem;
    margin-top: 50px;
    margin-left: 1rem;
    height: 20rem;
    border-radius: 1rem;
}

.third {
    background-color: #f3f9fb;
    width: 18rem;
    margin-top: 50px;
    margin-left: 55rem;
    height: 41rem;
    position: absolute;
    border-radius: 1rem;
}

.Kira {
    color: black;
    font-weight: 600;
}

.kirad {
    color: black;
    opacity: 50%;
    font-weight: 500;
}

.kiradd {
    color: #000;
    opacity: 70%;
}

.big {
    color: black;
}

.fourth {
    background-color: #f3f9fb;
    margin-left: -1rem;
    width: 18rem;
    height: 20rem;
    margin-top: 1rem;
    position: absolute;
    border-radius: 1rem;
}

.jean {
    font-weight: 600;
    font-size: 20px;
}

.fifth {
    margin-left: 10rem;
    height: 20rem;
    width: 35rem;
    margin-left: 18rem;
    margin-top: 1rem;
    border-radius: 1rem;
    background-color: #1b262c;
}

.html {
    background-color: red;
}

footer {
    padding: 1rem 0;
    text-align: center;
}

@media (max-width: 1024px) {
    .first {
        position: relative;
        margin: auto;
        width: 80%;
        height: auto;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .second,
    .third,
    .fourth,
    .fifth {
        position: static;
        width: 80%;
        margin: auto;
        margin-bottom: 1rem;
        padding: 2rem 0;
        height: auto;
    }
}